<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Firestone CSS</title>
  <link rel="stylesheet" href="./index.css" />
</head>
<body>
  <div class="b-test"></div>
</body>
</html>
